<!-- // footer  -->
	<div class="padding-tb-10px background-main-color">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="text-white margin-tb-15px text-center text-lg-left">
						Munchie Gourmet | A Zachary, Fred, Mike, & Wesley Creation 
					</div>
				</div>
				<div class="col-md-6">
					<ul class="list-inline text-lg-right text-center margin-lr-0px margin-tb-15px text-white">
				
						<li class="list-inline-item margin-lr-8px"><a class="github" href="https://github.com/Murphy-ZJ/food-in-fridge"><i class="fab fa-github"></i></a></li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
	 <!-- // footer  -->

	<script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/sticky-sidebar.js"></script>
	<script src="/assets/js/YouTubePopUp.jquery.js"></script>
	<script src="/assets/js/owl.carousel.min.js"></script>
	<script src="/assets/js/imagesloaded.min.js"></script>
	<script src="/assets/js/masonry.min.js"></script>
	<script src="/assets/js/wow.min.js"></script>
	<script src="/assets/js/custom.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>
