

{{>headermenu}}


	
	<div class="banner padding-tb-20px background-overlay" style="background-image: url('/assets/img/fridge.jpg');">>
		
<div class="container">

			<div class="padding-tb-120px z-index-2 position-relative">
				<div class="text-center">
					<h1 type="hidden" class="text-black pull-l icon-large font-weight-500 margin-bottom-40px"> </h1>
				</div>
				<div class="margin-top-45px">
					<div class="row justify-content-center margin-tb-60px">
						<div class="col-lg-8">
							
						</div>
					</div>
				</div>
			</div>
		</div>
				
			
	
		
		
		<!-- //container  -->

	</div>


	<div class="pull-top-85px">
		<div class="container">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
					<a href="/recipe/fish" class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="https://www.edamam.com/web-img/a96/a967fbe797803dbe8418a668cf304b53.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Fish</h4>
					</a>
				</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
					<a href="/recipe/soup" class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="https://www.edamam.com/web-img/738/738f823e9cab903b8596993b4ee89fed.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Soups</h4>
					</a>
				</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
					<a href="/recipe/Eggs" class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="https://www.edamam.com/web-img/20f/20f0c2553240a2c6bc639d64df3f9df4.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Eggs</h4>
					</a>
				</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
					<a href="/recipe/salad" class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="https://www.edamam.com/web-img/219/2190b49b40b609ec46cb8d29558712cf.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Salads</h4>
					</a>
				</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
					<a href="/recipe/burger" class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="https://www.edamam.com/web-img/05f/05f6b1fbd22e92e2f7ba32026abe1714.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Burger</h4>
					</a>
				</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px">
					<a href="/recipe/pizza" class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="https://www.edamam.com/web-img/7fe/7fee72cbf470edc0089493eb663a7a09.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Pizza</h4>
					</a>
				</div>
			</div>
		</div>
	</div>


	
{{>footer}}



	

 