

{{>headermenu}}


<div id="page-title" class="padding-tb-30px gradient-white">
		<div class="container">
		<!--	<ol class="breadcrumb opacity-5">
				<li><a href="#">Home</a></li>
				<li><a href="#">Add Recipe</a></li>
			</ol>-->
			<h1 class="font-weight-300">Ingredients I've Got:</h1>
		</div>
	</div>
	<form method="POST" action="/choice">
	<div class="container">

		<div class="margin-tb-45px full-width">
			<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i
					class="far fa-list-alt margin-right-10px text-main-color"></i>Protein</h4>
			<div class="padding-30px padding-bottom-30px background-white border-radius-10">
				
					<!--		<div class="form-group margin-bottom-20px">
						<label><i class="far fa-list-alt margin-right-10px"></i> Recipe Title</label>
						<input type="text" class="form-control form-control-sm" id="ListingTitle" placeholder="Listing Title">
					</div>
				-->
					<div class="form-group margin-bottom-20px">
						<div class="row">
							<div class="col-md-6">


								<input type="checkbox" class="btn-check" id="chicken" autocomplete="off" name="winner" value="chicken">
								<label class="btn btn-outline-primary" for="chicken">Chicken</label><br>
								<input type="checkbox" class="btn-check" id="fish" autocomplete="off" name="winner" value="fish">
								<label class="btn btn-outline-primary" for="fish">Fish</label><br>
								<input type="checkbox" class="btn-check" id="beef" autocomplete="off" name="winner" value="beef">
								<label class="btn btn-outline-primary" for="beef">Beef</label><br>


							</div>
							<div class="col-md-6">


								<input type="checkbox" class="btn-check" id="pork" autocomplete="off" name="winner" value="pork">
								<label class="btn btn-outline-primary" for="pork">Pork</label><br>
								<input type="checkbox" class="btn-check" id="turkey" autocomplete="off" name="winner" value="tukey">
								<label class="btn btn-outline-primary" for="turkey">Turkey</label><br>
								<input type="checkbox" class="btn-check" id="lamb" autocomplete="off" name="winner" value="lamb">
								<label class="btn btn-outline-primary" for="lamb">Lamb</label><br>


							</div>
						</div>
					</div>

				
			</div>
		</div>


		<div class="margin-tb-45px full-width">
			<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i
					class="far fa-list-alt margin-right-10px text-main-color"></i>Vegitables</h4>
			<div class="padding-30px padding-bottom-30px background-white border-radius-10">
				
					<!--		<div class="form-group margin-bottom-20px">
						<label><i class="far fa-list-alt margin-right-10px"></i> Recipe Title</label>
						<input type="text" class="form-control form-control-sm" id="ListingTitle" placeholder="Listing Title">
					</div>
				-->
					<div class="form-group margin-bottom-20px">
						<div class="row">
							<div class="col-md-6">


								<input type="checkbox" class="btn-check" id="tomato" autocomplete="off" name="winner" value="tomato">
								<label class="btn btn-outline-primary" for="tomato">Tomato</label><br>
								<input type="checkbox" class="btn-check" id="potato" autocomplete="off" name="winner" value="potato">
								<label class="btn btn-outline-primary" for="potato">Potato</label><br>
								<input type="checkbox" class="btn-check" id="carrot" autocomplete="off" name="winner" value="carrot">
								<label class="btn btn-outline-primary" for="carrot">Carrot</label><br>
								<input type="checkbox" class="btn-check" id="lettuce" autocomplete="off" name="winner" value="lettuce">
								<label class="btn btn-outline-primary" for="lettuce">Lettuce</label><br>


							</div>
							<div class="col-md-6">


								<input type="checkbox" class="btn-check" id="beans" autocomplete="off" name="winner" value="beans">
								<label class="btn btn-outline-primary" for="beans">Beans</label><br>
								<input type="checkbox" class="btn-check" id="broccoli" autocomplete="off" name="winner" value="broccoli">
								<label class="btn btn-outline-primary" for="broccoli">Broccoli</label><br>
								<input type="checkbox" class="btn-check" id="peppers" autocomplete="off" name="winner" value="peppers">
								<label class="btn btn-outline-primary" for="peppers">Peppers</label><br>


							</div>
						</div>
					</div>

				
			</div>
		</div>


		<div class="margin-tb-45px full-width">
			<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i
					class="far fa-list-alt margin-right-10px text-main-color"></i>Dairy</h4>
			<div class="padding-30px padding-bottom-30px background-white border-radius-10">
				
					<!--		<div class="form-group margin-bottom-20px">
						<label><i class="far fa-list-alt margin-right-10px"></i> Recipe Title</label>
						<input type="text" class="form-control form-control-sm" id="ListingTitle" placeholder="Listing Title">
					</div>
				-->
					<div class="form-group margin-bottom-20px">
						<div class="row">
							<div class="col-md-6">


								<input type="checkbox" class="btn-check" id="cheese" autocomplete="off" name="winner" value="cheese">
								<label class="btn btn-outline-primary" for="cheese">Cheese</label><br>
								<input type="checkbox" class="btn-check" id="milk" autocomplete="off" name="winner" value="milk">
								<label class="btn btn-outline-primary" for="milk">Milk</label><br>



							</div>
							<div class="col-md-6">


								<input type="checkbox" class="btn-check" id="butter" autocomplete="off" name="winner" value="butter">
								<label class="btn btn-outline-primary" for="butter">Butter</label><br>



							</div>
						</div>
					</div>

				
			</div>
		</div>

		<div class="margin-tb-45px full-width">
			<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i
					class="far fa-list-alt margin-right-10px text-main-color"></i>Misc</h4>
			<div class="padding-30px padding-bottom-30px background-white border-radius-10">
				
					<!--		<div class="form-group margin-bottom-20px">
						<label><i class="far fa-list-alt margin-right-10px"></i> Recipe Title</label>
						<input type="text" class="form-control form-control-sm" id="ListingTitle" placeholder="Listing Title">
					</div>
				-->
					<div class="form-group margin-bottom-20px">
						<div class="row">
							<div class="col-md-6">


								<input type="checkbox" class="btn-check" id="rice" autocomplete="off" name="winner" value="rice">
								<label class="btn btn-outline-primary" for="rice">Rice</label><br>
								<input type="checkbox" class="btn-check" id="pasta" autocomplete="off" name="winner" value="pasta">
								<label class="btn btn-outline-primary" for="pasta">Pasta</label><br>



							</div>
							<div class="col-md-6">


								<input type="checkbox" class="btn-check" id="eggs" autocomplete="off" name="winner" value="eggs">
								<label class="btn btn-outline-primary" for="eggs">Eggs</label><br>
								<input type="checkbox" class="btn-check" id="bread" autocomplete="off" name="winner" value="bread">
								<label class="btn btn-outline-primary" for="bread">Bread</label><br>



							</div>
						</div>
					</div>

				
			</div>
		</div>

	
		<button
			class="btn btn-lg border-2  ba-1 text-white margin-bottom-80px btn-block border-radius-15 padding-15px box-shadow">Find Munchie Recipes</button>
		</form>
	</div>





{{>footer}}