{{>headermenu}}



	<div id="page-title" class="padding-tb-30px gradient-white">
		<div class="container text-left">
		<!--	<ol class="breadcrumb opacity-5">
				<li><a href="#">Home</a></li>
				<li class="active">recipes</li>
			</ol>-->
			<h1 class="font-weight-300">Munchie Options</h1>
		</div>
	</div>


	



	<div class="container margin-bottom-100px">

		<div class="row">

			

		
			

{{#eat}}
			<!-- item -->
			<div class="col-lg-6 margin-bottom-30px">
				<div class="background-white thum-hover box-shadow hvr-float full-width">
					<div class="float-md-left margin-right-30px thum-xs">
						<img class="width-250px" src="{{recipe.image}}" alt="">
					</div>
					<div class="padding-25px">
						<div class="rating">
							<i class="fas fa-users"></i> {{recipe.mealType}}
						</div>
						<h3><a href="/recipe/{{recipe.uri}}" class="d-block text-dark text-capitalize text-medium margin-tb-15px">{{recipe.label}}</a></h3>
						<hr>
						<div class="row no-gutters"><form method="POST" action='/recipe' ">
						<input type="hidden" value="{{recipe.uri}}" name="recipe">
							<div class=""><button class="">Take Me To The Recipe</button></div>
							<div class="col-8 text-right"></div>
						</form></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- // item -->
{{/eat}}

			


			

		</div>

	

	</div>




 {{>footer}}